@import "tailwindcss";

button:active {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65);
}

@font-face {
  font-family: againstRegular;
  src: url(assets/fonts/against\ regular.ttf);
}

@font-face {
  font-family: Edwarian;
  src: url(assets/fonts/Edwardian.ttf);
}

.button_mov {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edwarian {
    font-family: "Edwarian";
    text-align: center;
}

.navBar {
    font-family: "Edwarian";
}

.navBar:hover {
    text-decoration: underline;
    font-weight: bold;
}
