@import "tailwindcss";

button:active {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65);
}

@font-face {
  font-family: againstRegular;
  src: url(assets/fonts/against\ regular.ttf);
}

@font-face {
  font-family: Edwarian;
  src: url(assets/fonts/Edwardian.ttf);
}

@font-face {
  font-family: Mont-Extra-Light;
  src: url(assets/fonts/Mont-ExtraLightDEMO.otf);
}

@font-face {
  font-family: Mont-Mont-Heavy;
  src: url(assets/fonts/Mont-HeavyDEMO.otf);
}

.montHeavy {
    font-family: Mont-Mont-Heavy;
}

.montLight {
    font-family:  Mont-Extra-Light;
}

.button_mov {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edwarian {
    font-family: "Edwarian";
    text-align: center;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}